* {
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 240, 240);
    display:block
}


@media screen and (max-width: 980px) {
.header, .header h1, .header div nav a {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(88, 88, 88);
    color: aquamarine
    
    
}

.header h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: aquamarine;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
}

.header div nav a {
    color: rgb(43, 245, 63);
    text-decoration: underline;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}




    
    
 



