* {
    box-sizing: border-box;
}

:root {
    --header-color: rgb(65, 58, 58);
    --title-color: aquamarine;
    --navbar-color: rgb(43, 245, 63);
    --body-color: rgb(190, 227, 227);
}
body {
    background-color: var(--body-color);
    
}


@media screen and (max-width: 980px) {
header, h1, nav a, .kalalau img, .kalalau h2 {
    flex-direction: column;
    align-items: center;
    
}
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--header-color);
    box-shadow: 5px 5px 5px 5px #60d4e9;
    padding: 10px 20px 10px 20px;
    margin: 20px 20px 20px 20px;

    
}

h1 {
    color: var(--title-color);
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    display:inline-block

}


nav a {
    color: var(--navbar-color);
    text-decoration: underline;
    margin: 10px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    display:inline-block
   
    
}

header :hover {
    color: rgb(246, 118, 226);
}

.kalalau {
    position: relative;

}

.kalalau img {
    height: 80vh;
    width: 100%;
    background-position: center;
    display:block
    display:flex
    justify-content:flex-end;
    text-align: :right
}
.kalalau h2 {
    color: var(--title-color);
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 500px;
    left: 75%;
    display:flex

}

.kalalau :hover {
    color:rgb(231, 35, 9);
}

.main-setup { 
    margin-left: 50px;
    margin-right: 50px;
    max width: 75%;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    

}

.main-content h3 {
    color: var(--title-color);
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    display:inline-block
    right: 100%;
    text-decoration:underline;
    padding-right: 30px;
    margin-right: 30px;
}


main {
    margin-top: 20px;
    margin-bottom: 20px;
}




p {
    font-size: 2em;
    margin-left: 30%;
    margin-right: 10%;
    padding-left: 30px; 
    color:var(--header-color)
    
}



.image-wrapper {
    overflow: auto;
}


 
img {
    float:right;
    margin: left 20px;
    height: 500px;
    width: auto;
}

.projects {

}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 50px;
    max width: 75%;
}
    
    


