* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(203, 241, 241);
}

@media screen and (max-width: 980px) {
    
    
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(88, 88, 88);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    
}

h1 {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    color: aquamarine
     
      
}

nav , ul , li , a {
    color: rgb(5, 238, 114);
    text-decoration: none;
    display: inline;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style-type:none;   
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
}


    
 



